:root {
    --baseColor: #4A6163;
    --backgroundColor: #F9FAF4;
    --pastelRed: #F17A7E;
}

html {
    background-color: var(--backgroundColor);
}

header {
    background-color: var(--baseColor);
    padding: 20px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--backgroundColor);
    background-color: var(--pastelRed);
    padding: 6px 25px 6px 25px;
    margin-left: -16px;
}

nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin-top: 24px;
}

nav a {
    font-size: 20px;
    padding: 20px;
    color: var(--backgroundColor);
    text-decoration-color: #F17A7E;
    text-underline-position: below;
    text-underline-offset: 12px;
}

img {
    max-height: 320px;
    width: 110%;
    margin-left: -12px;
}

body {
    background-color: var(--backgroundColor);
}

h2 {
    color: var(--baseColor);
    text-align: right;
    margin-left: 64px;
    margin-top: 64px;
    font-size: xx-large;
}

.about {
    display: flex;
    flex-direction: row;
}

.about .vl {
    border-left: 6px solid var(--baseColor);
    height: 200px;
    margin-top: 32px;
    margin-left: 64px;
}

.about p {
    margin-left: 64px;
    margin-top: 64px;
    color: var(--baseColor);
    font-size: large;
}

.work {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.work .vl {
    border-left: 6px solid var(--baseColor);
    height: 400px;
    margin-top: px;
    margin-left: 70px;
}